/*
Example usage:

<ul class="dropdown">
<li>Option</li>
<li>Option</li>
<li class="selected">Option</li>
<li>A longer option</li>
</ul>
*/

ul.dropdown {
	background-color: #CCCCCC;
	background-image: url(../images/menu/arrow_down.png), -moz-linear-gradient(0% 90% 90deg, #CCCCCC, #EEEEEE);
	background-image: url(../images/menu/arrow_down.png), -ms-linear-gradient(#EEEEEE, #CCCCCC);
	background-image: url(../images/menu/arrow_down.png), -o-linear-gradient(#EEEEEE, #CCCCCC);
	background-image: url(../images/menu/arrow_down.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#CCCCCC));
	background-position: center right;
	background-repeat: no-repeat;
	border: 1px solid #999999;
	border-radius: 3px;
	color: #444444;
	cursor: default;
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');
	font-size: 10px;
	font-weight: bolder;
	outline: none;
	padding: 5px 23px 5px 10px;
}

ul.dropdown:hover {
	background-image: url(../images/menu/arrow_down.png), -moz-linear-gradient(0% 90% 90deg, #CCCCCC, #FFFFFF);
	background-image: url(../images/menu/arrow_down.png), -ms-linear-gradient(#FFFFFF, #CCCCCC);
	background-image: url(../images/menu/arrow_down.png), -o-linear-gradient(#FFFFFF, #CCCCCC);
	background-image: url(../images/menu/arrow_down.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CCCCCC));
	background-position: center right;
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CCCCCC');
}

ul.dropdown:active {
	background-image: url(../images/menu/arrow_down.png),-moz-linear-gradient(0% 90% 90deg, #EEEEEE, #DDDDDD);
	background-image: url(../images/menu/arrow_down.png),-ms-linear-gradient(#DDDDDD, #EEEEEE);
	background-image: url(../images/menu/arrow_down.png),-o-linear-gradient(#DDDDDD, #EEEEEE);
	background-image: url(../images/menu/arrow_down.png),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDDDDD), to(#EEEEEE));
	background-position: center right;
	background-repeat: no-repeat;
	border: 1px solid #666666;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#EEEEEE');
}

ul.dropdown li {
	display: none;
}

ul.dropdown li.selected {
	display: block;
}

ul.dropdown.open {
	background-color: #CCCCCC;
	background-image: -moz-linear-gradient(0% 90% 90deg, #CCCCCC, #FFFFFF);
	background-image: -ms-linear-gradient(#FFFFFF, #CCCCCC);
	background-image: -o-linear-gradient(#FFFFFF, #CCCCCC);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CCCCCC));
	border: 1px solid #999999;
	border-radius: 3px;
	box-shadow: 0 0 5px #000;
	color: #444444;
	cursor: default;
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');
	font-size: 10px;
	font-weight: bolder;
	outline: none;
	padding: 5px 23px 5px 10px;
}

ul.dropdown.open li {
	display: block;
	padding: 5px 0px 5px 0px;
	text-wrap: none;
	width: 100%;
}

ul.dropdown.open li.selected {
	background-color: #CCC;
	color: #FFFFFF;
	margin: 0 -23px 0 -10px;
	padding: 5px 23px 5px 10px;
}

ul.dropdown.open li:hover {
	background-color: #09C;
	color: #FFFFFF;
	margin: 0 -23px 0 -10px;
	padding: 5px 23px 5px 10px;
}